/* --- --- COLORS --- --- */
/* --- --- #0D222A --- --- */
/* --- --- #9C9C9C --- --- */
/* --- --- #03080B --- --- */
/* --- --- #FEFEFE --- --- */
/* --- --- #A2D5E9 --- --- */
/* --- --- #F0F2F5 --- --- */
/* --- --- #DDDDDD --- --- */
/* --- --- #F2C94C --- --- */
/* --- --- #219653 --- --- */
/* --- --- #1F5266 --- --- */
/* --- --- #F2994A --- --- */
/* --- --- #EB5757 --- --- */
/* --- --- #3384A5 --- --- */
/* --- --- #2D9CDB --- --- */

body {
    background: #F0F2F5;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* --- --- HEADER --- --- */

.header-up-bg {
    background: #03080B;
}

.header-up {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
}

.header-up p {
    margin: 0 10px;
}

.header-up p a {
    color: #FEFEFE;
    text-decoration: underline;
}

.header-up p a:hover {
    color: #2D9CDB;
}

.header-up .img-header-up a img {
    margin-right: 15px;
}

.header-up .idioma select {
    border: 2px solid #FEFEFE;
    border-radius: 2px;
    background: #03080B;
    color: #FEFEFE;
    width: 85px;
}

.header-down-bg {
    background: #2D9CDB;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #03080B!important;
}
.navbar-nav .nav-link:hover {
    color: #FEFEFE!important;
}

#place-date img {
    max-width: 100%;
}

#place-date {
    background: #343a40;
    color: white;
}



/* --- --- MEDIAQUERY --- --- */
@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 991px) {

}
@media screen and (max-width: 765px) {

}

@media screen and (max-width: 575px) {
    .header-up .img-header-up a img {
        display: none;
    }
}





