/* --- --- COLORS --- --- */
/* --- --- #0D222A --- --- */
/* --- --- #9C9C9C --- --- */
/* --- --- #03080B --- --- */
/* --- --- #FEFEFE --- --- */
/* --- --- #A2D5E9 --- --- */
/* --- --- #F0F2F5 --- --- */
/* --- --- #DDDDDD --- --- */ 
/* --- --- #F2C94C --- --- */
/* --- --- #219653 --- --- */
/* --- --- #1F5266 --- --- */
/* --- --- #F2994A --- --- */
/* --- --- #EB5757 --- --- */
/* --- --- #3384A5 --- --- */
/* --- --- #2D9CDB --- --- */ 
 
body {
    background: #F0F2F5;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* --- --- BARRA LATERAL --- --- */

.barra-lateral {
    background: #3384A5;
    min-width: 250px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral .logo {
    background: #2D9CDB;
    padding: 20PX;
    text-align: center;
    color: #F0F2F5;
    margin: 0;
}

.barra-lateral .menu a{
    border-bottom: 1px solid rgba(250, 250, 250, .1);
    display: block;
    font-size: 16px;
    color: #fefefe;
    padding: 20px;
}

.barra-lateral .menu a:hover {
    background: rgba(250, 250, 250, .1);
    text-decoration: none;
}
.barra-lateral .menu a i {
    margin-right: 20px;
}

/* --- --- HEADER --- --- */

.main {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.col-12 {
    padding-left: 0;
}

.main .breadcrumb {
    background: none;
    margin-bottom: 0;
    padding-left: 0;
}

.main .contenedor {
    display: flex;
}

.main .contenedor .profile {
    display: flex;
}

.main .contenedor .profile .admin-name{
    color: #03080B;
    margin-right: 5px;
    font-size: 14px;
}

.main .contenedor .profile .photo {
    border: 2px solid #2D9CDB;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.main .contenedor .profile .photo a img {
    width: 100%;
}

/* --- --- CONTENEDOR info-principal --- --- */

.main .title-h2 {
    display: inline-block;
    border-bottom: 2px solid #2D9CDB;
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
} 

.main .title-h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    left: 0;
    margin-top: 1px;
    border-bottom: 1px solid #DCDCDC;
    z-index: -1;
}

.info-principal {
    border-radius: 10px;
    background: #fefefe;
    padding: 20px;
    margin-top: 20px;
}

.info-principal .img-profile {
    border: 2px solid #DCDCDC;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin: auto;
}

.info-principal .img-profile img {
    width: 100%;
}

.info-principal .boton {
    text-align: center;
    margin-top: 20px;
}

.info-principal .boton button {
    border: none;
    border-radius: 5px;
    background: #2D9CDB;
    color: #FEFEFE;
    width: 130px;
    height: 40px;
}

.info-principal .boton button:hover {
    background: #3384A5;
}

.info-principal .user-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3px;
}

.info-principal p {
    margin-bottom: 0;
}

.info-principal .localidad {
    color: #2D9CDB;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}

.info-principal .user-info {
    display: flex;
}

.info-principal .user-info p:first-child {
    margin-right: 5px;
    font-weight: 500;
}

.info-principal .user-info p:last-child {
    font-weight: 300;
}

.info-principal .ranking {
    text-align: center;
}

.info-principal .ranking .ranking-title {
    font-size: 24px;
    font-weight: 400;
}

.info-principal .ranking .ranking-info {
    font-size: 48px;
    font-weight: 700;
    color: #219653;
}

.info-principal .map {
    border-radius: 10px;
    width: 180px;
    height: 180px;
    background: #9D9D9D;
    margin: auto;
}

.info-principal .rrss {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.info-principal .rrss .fb {
    margin: 0px 20px;
}

.info-principal .rrss .rrss-icon {
    border: 1px solid #2D9CDB;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    border: 1px solid #9D9D9D;
    width: 90%;
}

.info-principal .torneos {
    text-align: center;
}

.info-principal .torneos .torneos-title {
    color: #9D9D9D;
}

.info-principal .torneos .torneos-info {
    font-size: 18px;
    font-weight: 700;
}

.info-principal .torneos .verde {
    color: #219653;
}

.info-principal .torneos .rojo {
    color: #EB5757;
}

/* --- --- INFORMACIÓN JUGADORES --- --- */

.main .jugadores-info,
.main .jugadores-info2 {
    border: none;
    border-radius: 10px;
    background: #FEFEFE;
    width: 100%;
    height: 40px;
}

.main .jugadores-info2 {
    border-radius: 0;
    margin-top: 20px;
}

.main .collapse .card .info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9C9C9C;
    margin-bottom: 8px;
}

.main .collapse .card .info:last-child {
    border-bottom: none;
}

.main .collapse .card .info .info-content {
    text-align: center;
}

.main .collapse .card .info .info-content .nombre {
    margin-top: 10%;
}

.main .collapse .card .info .info-content p{
    font-size: 14px;
    margin-bottom: 5px;
}

.main .collapse .card .info .info-content .info-content-verde {
    color: #219653;
    font-weight: 600;
}

.main .collapse .card .info .info-content .info-content-azul {
    color: #2D9CDB;
    font-weight: 600;
}

.main .collapse .card .info .info-content .info-content-rojo {
    color: #EB5757;
    font-weight: 600;
}

.main .collapse .card .info-content-contacto {
    justify-content: center;
}


.main .collapse .card .contenedor-tabla .table-responsive .table th,
.main .collapse .card .contenedor-tabla .table-responsive .table td {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.main .collapse .card .contenedor-tabla .table-responsive .table .td-costo {
    color: #219653;
}

.main .collapse .card .contenedor-tabla .table-responsive .table .td-pago {
    color: #2D9CDB;
}
.main .collapse .card .contenedor-tabla .table-responsive .table .rojo {
    color: #EB5757;
}

.main .collapse .card .contenedor-tabla .table-responsive .table .botones {
    display: flex;
    justify-content: center;
}

.main .collapse .card .contenedor-tabla .table-responsive .table .botones button {
    padding: 5px;
    border: none;
    border-radius: 5PX;
    background: #DCDCDC;
}

.main .collapse .card .contenedor-tabla .table-responsive .table .botones button:hover {
    background: rgba(250, 250, 250, .1);
}

.main .collapse .card .contenedor-tabla .table-responsive .table .botones .watch {
    margin: 0 10px;
}

.main .collapse .card .contenedor-tabla .table-responsive .table .contenedor-pareja {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .collapse .card .contenedor-tabla .table-responsive .table .contenedor-pareja p {
    margin: 0;
}

.main .collapse .card .contenedor-tabla .table-responsive .table .contenedor-pareja .img{
    border: 1px solid #9C9C9C;
    border-radius: 100%;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    margin-right: 5px;
    overflow: hidden;
}

.main .collapse .card .contenedor-tabla .table-responsive .table .contenedor-pareja .img img{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.main .collapse .card .contenedor-tabla .table-responsive .table .contenedor-competidores {
    display: flex;
    justify-content: space-around;
}

.main .collapse .card .jugador-info .jugador-info-content {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
}

.main .collapse .card .jugador-info .jugador-info-content .jugador-info-title {
    color: #9C9C9C;
}

/* --- --- CONTENEDOR OPCIONES --- --- */

.main .opciones {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.main .opciones .contenedor-option {
    border-radius: 20px;
    background: #fefefe;
    padding: 20px;
    width: 100%;
    max-width: 337px;
    min-height: 300px;
    margin: auto;
    margin-bottom: 30px;
}

.main .opciones .contenedor-option h3 {
    font-size: 20px;
    font-weight: 400;
    color: #9C9C9C;
    text-align: center;
}

.main .opciones .contenedor-info {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.main .opciones .contenedor-info p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #9C9C9C;
    text-align: center;
}

.main .opciones .contenedor-info .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .opciones .contenedor-info .info-num {
    font-size: 16px;
    font-weight: 700;
}

.main .opciones .contenedor-info .azul,
.main .opciones .contenedor-option .azul {
    color: #2D9CDB;
}

.main .opciones .contenedor-info .rojo {
    color: #EB5757;
}

.main .opciones .contenedor-info .verde {
    color: #219653;
}

.main .opciones .contenedor-option .Numb {
    font-size: 56px;
    font-weight: 600;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.main .opciones .contenedor-info .info p span{
    color: #DCDCDC;
    font-size: 14px;
}

.main .opciones .contenedor-info .info p span:last-child {
    color: #EB5757;
}

/* --- --- CÍRCULO PROGRESO --- --- */

.main .opciones .contenedor-option .contenedor-circulo {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.circulo{
    height: 100px;
    width: 100px;
    position: relative;
}

.circulo .inner-circulo, .circulo .outer-circulo, .circulo .circulo{
    position: absolute;
    z-index: 6;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.2);
}

.circulo .inner-circulo{
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background-color: #FEFEFE;
    border-radius: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.circulo .circulo{
    z-index: 1;
    box-shadow: none;
}

.circulo .numb-circulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: #03080B;
}

.circulo .barra{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #eeecec;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}

.circulo .barra .progreso{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
}

.circulo .barra .progreso, .dot span{
    background: #2D9CDB;
}

.circulo .izquierda .progreso{
    z-index: 1;
    animation: left 4s linear both;
}

@keyframes left {
    100%{
      transform: rotate(180deg);
    }
}

.circulo .derecha{
    z-index: 3;
    transform: rotate(180deg);
}

.circulo .derecha .progreso{
    animation: right 4s linear both;
    animation-delay: 4s;
}

@keyframes right {
    100%{
      transform: rotate(180deg);
    }
}

.circulo .dot{
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 10px;
    margin-top: -5px;
    animation: dot 8s linear both;
    transform-origin: 0% 50%;
}

.circulo .dot span {
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

@keyframes dot{
    0% {
      transform: rotate(-90deg);
    }
    50% {
      transform: rotate(90deg);
      z-index: 4;
    }
    100% {
      transform: rotate(270deg);
      z-index: 4;
    }
}






/* --- --- MEDIAQUERY --- --- */

@media screen and (max-width: 1300px) {

    /* --- --- BARRA LATERAL --- --- */
    .barra-lateral {
        min-width: auto;
    }

    .barra-lateral .logo {
        display: none;
    }

    .barra-lateral .menu a span {
        display: none;
    }

    .barra-lateral .menu a i {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {

    .main .contenedor .notification span {
        display: none;
    }

    .main .contenedor .profile {
        display: none;
    }

    .info-principal .user-title,
    .info-principal .localidad {
        text-align: center;
    }

    .info-principal .user-title {
        margin-top: 15px;
    }

    .info-principal .row-info {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {

    /* --- --- BARRA LATERAL --- --- */
    .barra-lateral {
        min-height: auto;
    }

    .barra-lateral .menu {
        text-align: center;
    }

    .barra-lateral .menu a {
        display: inline-block;
    }
}