/* --- --- COLORS --- --- */
/* --- --- #0D222A --- --- */
/* --- --- #9C9C9C --- --- */
/* --- --- #03080B --- --- */
/* --- --- #FEFEFE --- --- */
/* --- --- #A2D5E9 --- --- */
/* --- --- #F0F2F5 --- --- */
/* --- --- #DDDDDD --- --- */
/* --- --- #F2C94C --- --- */
/* --- --- #219653 --- --- */
/* --- --- #1F5266 --- --- */
/* --- --- #F2994A --- --- */
/* --- --- #EB5757 --- --- */
/* --- --- #3384A5 --- --- */
/* --- --- #2D9CDB --- --- */

body {
    background: #F0F2F5;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* --- --- BARRA LATERAL --- --- */

.barra-lateral {
    background: #3384A5;
    min-width: 250px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral .logo {
    padding: 30px 20px 30px 20PX;
    text-align: center;
    color: #F0F2F5;
    margin: 0;
    border-bottom: 1px solid rgba(250, 250, 250, .1);
}

.barra-lateral .menu a{
    border-bottom: 1px solid rgba(250, 250, 250, .1);
    display: block;
    font-size: 16px;
    color: #fefefe;
    padding: 20px;
}

.barra-lateral .menu a:hover {
    background: rgba(250, 250, 250, .1);
    text-decoration: none;
}
.barra-lateral .menu a i {
    margin-right: 20px;
}

/* --- --- HEADER --- --- */

.main {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.col-12 {
    padding-left: 0;
    padding-right: 0;
}

.main .breadcrumb {
    background: none;
    margin-bottom: 0;
    padding-left: 0;
}

.main .contenedor {
    display: flex;
}

.main .contenedor .profile {
    display: flex;
}

.main .contenedor .profile .admin-name{
    color: #03080B;
    margin-right: 5px;
    font-size: 14px;
}

.main .contenedor .profile .photo {
    border: 2px solid #2D9CDB;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.main .contenedor .profile .photo a img {
    width: 100%;
}

/* --- --- Contenedor de Opciones --- --- */

div.col-12.contenedor-opciones {
    padding-right: 0;
}

.contenedor-opciones {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.contenedor-opciones .filtro button {
    border: 1px solid #2D9CDB;
    border-radius: 3px;
    color: #03080B;
    padding: 3px 10px;
}

.contenedor-opciones .filtro button:hover {
    background: #2D9CDB;
    color: #fefefe;
}

.contenedor-opciones .action {
    display: flex;
}

.contenedor-opciones .action .buscador input[type="search"]{
    background: none;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    padding: 5px;
    color: #9c9c9c;
}

.contenedor-opciones .action .boton-grid {
    margin: 0 20px;
    font-size: 20px;
    color: #2D9CDB;
    background: none;
    border: none;
}

.contenedor-opciones .action .boton-grid:hover {
    color: #3384A5;
}

.contenedor-opciones .action .agregar {
    color: #fefefe;
    border: none;
    border-radius: 5px;
    background: #2D9CDB;
    width: 90px;
    height: 35px;
}

.contenedor-opciones .action .agregar:hover {
    background: #3384A5;
}

.main .title-h2 {
    display: inline-block;
    border-bottom: 2px solid #2D9CDB;
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
} 

.main .title-h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    left: 0;
    margin-top: 1px;
    border-bottom: 1px solid #DCDCDC;
    z-index: -1;
}

/* --- --- TABLA --- --- */

td, thead {
    font-size: 14px;
    text-align: center;
}

.main .contenedor-table .table-responsive .table tbody tr td {
    vertical-align: middle;
}

.main .contenedor-table .tabla-jugadores {
    display: flex;
    justify-content: space-around;
}

.main .contenedor-table .vs {
    display: flex;
    align-items: center;
    margin: 0 8px;
    font-weight: 600;
}

.main .contenedor-table .tabla-jugador  {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main .contenedor-table .t2 {
    flex-direction: row;
}


.main .contenedor-table .tabla-jugador .img {
    border: 1px solid #9C9C9C;
    border-radius: 100%;
    margin-right: 5px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
}

.main .contenedor-table .tabla-jugador .img img {
    width: 100%;
    height: 100%;
}

.main .contenedor-table .td-azul {
    color: #2D9CDB;
}

.main .contenedor-table .td-rojo {
    color: #EB5757;
}

.main .contenedor-table .td-verde {
    color: #219653;
}

.main .contenedor-table .botones {
    display: flex;
    justify-content: space-around;
}

.main .contenedor-table .botones button {
    border: none;
    border-radius: 5px;
    color: #FEFEFE;
    padding: 5px;
}

.main .contenedor-table .botones .editar {
    background: #2D9CDB;
}

.main .contenedor-table .botones .editar:hover {
    background: #3384A5;
}

.main .contenedor-table .botones .borrar {
    background: #EB5757;
}

.main .contenedor-table .botones .borrar:hover {
    background: #c74a4a;
}

/* --- ---- MODAL --- --- */



.main .botones .modal .modal-content .modal-body .modal-principal-info .second-title-modal{
    font-size: 14px;
    font-weight: normal;
    color: #9C9C9C;
    margin-bottom: 0;
}

.main .botones .modal .modal-content .modal-body .modal-principal-info .title-modal {
    font-size: 18px;
    font-size: 700;
    color: #2D9CDB;
    margin-bottom: 0;
}

.hr {
    width: 100%;
}

.main .botones .modal .modal-content .modal-body .modal-jugadores {
   display: flex;
   justify-content: space-between;
}

.main .botones .modal .modal-content .modal-body .modal-jugadores .modal-jugador .img{
    border: 1px solid #9C9C9C;
    border-radius: 100%;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
    margin: auto;
}

.main .botones .modal .modal-content .modal-body .modal-jugadores .modal-jugador .img img{
    width: 100%;
}

.main .botones .modal .modal-content .modal-body .modal-jugadores .modal-jugador p{
    margin: 0;
    color: #2D9CDB;
    font-weight: 600;
}

.main .botones .modal .modal-content .modal-body .contenedor-modal-jugadores {
    width: 60%;
}

.main .botones .modal .modal-content .modal-body .modal-vs{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.main .botones .modal .modal-content .modal-body .contenedor-total {
    display: flex;
}

.main .botones .modal .modal-content .modal-body .contenedor-total .modal-resultados {
    display: flex;
    width: 40%;
    justify-content: center;
    flex-direction: column;
}

.main .botones .modal .modal-content .modal-body .contenedor-total .modal-resultados input[type="text"]{
    width: 35px;
    height: 35px;
    border: 1px solid #9c9c9c;
}

.main .botones .modal .modal-content .modal-body .contenedor-total .modal-resultados input[type="text"]:first-child{
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
    border-right: none;
}

.main .botones .modal .modal-content .modal-body .contenedor-total .modal-resultados input[type="text"]:last-child{
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
    border-left: none;
}

.main .botones .modal .modal-content .modal-body .modal-botones {
    display: flex;
    justify-content: end;
    margin-top: 14px;
}

.main .botones .modal .modal-content .modal-body .modal-botones button{
    border: none;
    width: 150px;
    height: 35px;
    font-size: 600;
}

.main .botones .modal .modal-content .modal-body .modal-botones .cancelar{
    border: 1px solid #2D9CDB;
    background: none;
    color: #2D9CDB;
    margin-right: 20px;
}

.main .botones .modal .modal-content .modal-body .modal-botones .cancelar:hover{
    background: #2D9CDB;
    color: #FEFEFE;
}

.main .botones .modal .modal-content .modal-body .modal-botones .publicar{
    background: #2D9CDB;
}

.main .botones .modal .modal-content .modal-body .modal-botones .publicar:hover{
    background: #3384A5;
}


/* --- --- MEDIAQUERY --- --- */

@media screen and (max-width: 1300px) {

        /* --- --- BARRA LATERAL --- --- */
        .barra-lateral {
            min-width: auto;
        }
    
        .barra-lateral .logo {
            display: none;
        }
    
        .barra-lateral .menu a span {
            display: none;
        }
    
        .barra-lateral .menu a i {
            margin-right: 0;
        }
    
}

@media screen and (max-width: 765px) {

    .main .contenedor .notification span {
        display: none;
    }

    .main .contenedor .profile {
        display: none;
    }

    /* --- --- Contenedor de Opciones --- --- */

    .contenedor-opciones .filtro button span {
        display: none;
    }

    .contenedor-opciones .action .boton-grid {
        display: none;
    }

    .contenedor-opciones .action .buscador input[type="search"] {
        width: 200px;
        margin-right: 20px;
    }

    .main .contenedor-table .tabla-jugador .img {
        display: none;
    }
}

@media screen and (max-width: 575px) {

    /* --- --- BARRA LATERAL --- --- */
    .barra-lateral {
        min-height: auto;
    }

    .barra-lateral .menu {
        text-align: center;
    }

    .barra-lateral .menu a {
        display: inline-block;
    }

    /* --- --- Contenedor de Opciones --- --- */

    .contenedor-opciones .action {
        flex-direction: column;
        align-items: flex-end;
    }

    .contenedor-opciones .action .buscador input[type="search"] {
        margin-bottom: 10px;
        margin-right: 0;
    }  

}