body {
    background: #F0F2F5;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* --- --- BARRA LATERAL --- --- */

.barra-lateral {
    background: #3384A5;
    min-width: 250px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral .logo {
    background: #2D9CDB;
    padding: 20PX;
    text-align: center;
    color: #F0F2F5;
    margin: 0;
}

.barra-lateral .menu a{
    border-bottom: 1px solid rgba(250, 250, 250, .1);
    display: block;
    font-size: 16px;
    color: #fefefe;
    padding: 20px;
}

.barra-lateral .menu a:hover {
    background: rgba(250, 250, 250, .1);
    text-decoration: none;
}
.barra-lateral .menu a i {
    margin-right: 20px;
}

/* --- --- HEADER --- --- */

.main {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.col-12 {
    padding-left: 0;
}

.main .breadcrumb {
    background: none;
    margin-bottom: 0;
    padding-left: 0;
}

.main .contenedor {
    display: flex;
}

.main .contenedor .profile {
    display: flex;
}

.main .contenedor .profile .admin-name{
    color: #03080B;
    margin-right: 5px;
    font-size: 14px;
}

.main .contenedor .profile .photo {
    border: 2px solid #2D9CDB;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.main .contenedor .profile .photo a img {
    width: 100%;
}

/* --- --- CONTENEDOR OPCIONES --- --- */

.main .title-h2 {
    display: inline-block;
    border-bottom: 2px solid #2D9CDB;
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
} 

.main .title-h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    left: 0;
    margin-top: 1px;
    border-bottom: 1px solid #DCDCDC;
    z-index: -1;
}

.main .opciones {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.main .opciones .contenedor-option {
    border-radius: 20px;
    background: #fefefe;
    padding: 20px;
    width: 100%;
    max-width: 337px;
    min-height: 300px;
    margin: auto;
    margin-bottom: 30px;
}

.main .opciones .contenedor-option h3 {
    font-size: 20px;
    font-weight: 400;
    color: #9C9C9C;
    text-align: center;
}

.main .opciones .contenedor-info {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.main .opciones .contenedor-info p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #9C9C9C;
    text-align: center;
}

.main .opciones .contenedor-info .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .opciones .contenedor-info .info-num {
    font-size: 16px;
    font-weight: 700;
}

.main .opciones .contenedor-info .azul,
.main .opciones .contenedor-option .azul {
    color: #2D9CDB;
}

.main .opciones .contenedor-info .rojo {
    color: #EB5757;
}

.main .opciones .contenedor-info .verde {
    color: #219653;
}

.main .opciones .contenedor-option .Numb {
    font-size: 56px;
    font-weight: 600;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.main .opciones .contenedor-info .info p span{
    color: #DCDCDC;
    font-size: 14px;
}

.main .opciones .contenedor-info .info p span:last-child {
    color: #EB5757;
}

/* --- --- CONTENEDOR DETALLE --- --- */

.main .opciones .contenedor-detalle {
    background: #FEFEFE;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.main .opciones .contenedor-detalle p {
    margin-bottom: 5px;
    color: #9C9C9C;
}

.main .opciones .contenedor-detalle .barra-progreso {
    margin-bottom: 15px;
}

/* --- --- COMENTARIOS --- --- */

.contenedor-tabla {
    margin-top: 20px;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}
td {
    font-size: 14px;
}

.main .contenedor-tabla .title-table{
    font-size: 14px;
    text-align: center;
}

.main .contenedor-tabla .botones {
    display: flex;
    justify-content: space-around;
}

.main .contenedor-tabla .botones button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #FEFEFE;
}

.main .contenedor-tabla .botones .eliminar {
    background: #EB5757;
}

.main .contenedor-tabla .botones .eliminar:hover {
    background: #c74949;
}

.main .contenedor-tabla .botones .aceptar {
    background: #2D9CDB;
}

.main .contenedor-tabla .botones .aceptar:hover {
    background: #3384A5;
}


/* --- --- MEDIAQUERY --- --- */

@media screen and (max-width: 1300px) {

    /* --- --- BARRA LATERAL --- --- */
    .barra-lateral {
        min-width: auto;
    }

    .barra-lateral .logo {
        display: none;
    }

    .barra-lateral .menu a span {
        display: none;
    }

    .barra-lateral .menu a i {
        margin-right: 0;
    }
}

@media screen and (max-width: 765px) {

    .main .contenedor .notification span {
        display: none;
    }

    .main .contenedor .profile {
        display: none;
    }
}

@media screen and (max-width: 575px) {

    /* --- --- BARRA LATERAL --- --- */
    .barra-lateral {
        min-height: auto;
    }

    .barra-lateral .menu {
        text-align: center;
    }

    .barra-lateral .menu a {
        display: inline-block;
    }
}